{% extends 'base.html.twig' %}
{% set modepreference = templateVars[1] %}

<!DOCTYPE html>

<html>
  {% block content %}
        <div class="container-fluid text-center">
          <header>
            <h1>
              Bienvenu sur l'application !
            </h1>
            <ul class="nav nav-tabs justify-content-center">
              <li>
                {% if templateVars[2] == "ROLE_ADMIN" %}
                  <button onclick="location.href = '/dashboard'" type="button" style="margin-right: 20px;" class="btn btn-outline-info">Tableau de bord</button>
                {% endif %}
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/menu">La Carte</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Réserver une table</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Nous Contacter</a>
              </li>
            {% if id == "unauthentificated" %}
              <li>
                <button onclick="location.href = '/userLogin'" type="button" style="margin-left: 10px;" class="btn btn-outline-success">Connexion</button>
              </li>
              <li>
                <button onclick="location.href = '/userCreate'" type="button" style="margin-left: 10px;" class="btn btn-outline-primary">Créer un compte</button>
              </li>
            {% else %}
              <li>
                <button data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" type="button" style="margin-left: 10px;" class="btn btn-outline-info">{{ templateVars[0] }}</button>
              </li>
            {% endif %}
            </ul>
          </header>
          <br>
          {% if templateVars[4] != "recapresvalidated" %}
            <h2>
              Réservez une table !
            </h2>
          {% else %}
            <h2>
              Table réservée ! A très vite et merci
            </h2>
          {% endif %}

          <div class="row">
            <div class="col">
              {% if id == "unauthentificated" %}
                <h3>Vous devez créer un compte ou vous connecter pour réserver un table !</h3>
              {% else %}
                {% if templateVars[4] == "selectday" %}
                  <form action="/selectDayReservation" method="post">
                    <br>
                    <select id="guests" name="guests" required>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>              
                    <label>nombre de personnes</label>
                    {% for date in templateVars[3] %}
                      <label style="border:2px solid black;"><input type="radio" value={{ date }} name="dateres" required="true"/>{{ date }}</label>
                    {% endfor %}
                    <label>Date</label>
                    <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Suivant</button>
                  </form>
                {% elseif templateVars[4] == "selecthour" %}
                  <p>recapitulatif de la réservation : </p>
                  <br>
                  pour : {{templateVars[5]}} personnes
                  <br>
                  pour le : {{templateVars[6]}}
                  <form action="/selectHourReservation" method="post">
                    <label>Choisissez une heure</label>
                    <select id="hourres" name="hourres" required>
                      {% for hour in templateVars[3] %}
                        <option value='{{hour}}'>{{hour}}h</option>
                      {% endfor %}
                    </select>
                    <input type="hidden" id="guests" name="guests" value='{{templateVars[5]}}'/>
                    <input type="hidden" id="dateres" name="dateres" value='{{templateVars[6]}}'/>
                    <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Suivant</button>
                  </form>
                {% elseif templateVars[4] == "validationres" %}
                  <p>recapitulatif de la réservation : </p>
                  <br>
                  pour : {{templateVars[5]}} personnes
                  <br>
                  pour le : {{templateVars[6]}}
                  <br>
                  à : {{templateVars[3]}}h
                  <form action="/valideReservation" method="post">
                    <label>Valider la réservation ?</label>
                    <input type="hidden" id="guests" name="guests" value='{{templateVars[5]}}'/>
                    <input type="hidden" id="dateres" name="dateres" value='{{templateVars[6]}}'/>
                    <input type="hidden" id="hourres" name="hourres" value='{{templateVars[3]}}'/>
                    <textarea type="text" style="height:10vh;" class="form-control" id="allergy" name="allergy" placeholder="Renseigner vos allergies si nécessaire"></textarea>
                    <button type="submit" class="btn btn-outline-success" style="margin-left: 10px;">Réserver</button>
                  </form>
                {% elseif templateVars[4] == "recapresvalidated" %}
                  <p>recapitulatif de la réservation : </p>
                  <br>
                  pour : {{templateVars[5]}} personnes
                  <br>
                  pour le : {{templateVars[6]}}
                  <br>
                  à : {{templateVars[3]}}h
                  <br>
                  allergies : {{templateVars[7]}}
                {% endif %}
              {% endif %}
            </div>
          </div>


        <!-- OffCanvas and hidden elements -->
          <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasExampleLabel">{{ id }}</h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <div class="row justify-content-center">
                <div class="col-12">
                  <button onclick="location.href = '/information'" type="button" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Informations de compte</button>
                </div>
                <div class="col-12">
                  <button type="button" onclick="location.href = '/settings'" style="margin-bottom: 10px;" class="btn btn-outline-secondary">Préferences de compte</button>
                </div>
                <div class="col-12">
                  <button onclick="location.href = '/userLogout'" style="margin-bottom: 10px;" type="button" class="btn btn-outline-warning">Déconnexion</button>
                </div>
              </div>
            </div>
          </div>
  {% endblock %}
</html>